.not-found {
    min-height: 75vh;
    background: rgba(116, 26, 26, 0.5);
}
.button a {
    padding: 0.5em 1em;
    background: rgba(114, 6, 6, 0.4);
    border-radius: 0.3em;
}
.button a:hover {
    background: rgba(114, 6, 6, 0.2);
    color: rgba(114, 6, 6, 1);
}