<app-loader *ngIf="isLoading" />
<div class="wrapper" *ngIf="!isLoading">
    <div class="info" *ngIf="!editBoolean">
        <h3>Username: {{userUsername}}</h3>
        <p>Email: {{userEmail}}</p>
        <p><a routerLink="/user-posts">User's posts count: <span class="items">{{profile?.posts?.length}}</span></a></p>
        <P><a routerLink="/user-themes">User's themes count: <span class="items">{{themes.length}}</span></a></P>
        <button (click)="editToggle()">Edit profile</button>
    </div>
    <div class="info" *ngIf="editBoolean">
        <form [formGroup]="editForm" (ngSubmit)="onSave()">
            <label for="username">Username</label>
            <input type="text" formControlName="username" id="username" name="username" required minlength="5" autocomplete="username">
            
            
            <div class="error" *ngIf="formUsername?.errors?.['required']">
                <p>Username is required!</p>
            </div>
            <div class="error" *ngIf="formUsername?.errors?.['minlength']">
                <p>Username must be at least 5 symbols</p>
            </div>
            
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" name="email" email required minlength="6" autocomplete="email">
                <div class="error" *ngIf="formEmail?.errors?.['required']">
                    <p>Email is required!</p>
                </div>
                <div class="error" *ngIf="formEmail?.errors?.['minlength']">
                    <p>Email must be at least 6 symbols</p>
                </div>
                <div class="error" *ngIf="formEmail?.errors?.['email']">
                    <p>Email is not valid</p>
                </div> 
            <div class="buttons">
                <button (click)="onCancel($event)">Cancel</button>
                <button [disabled]="editForm.invalid">Save</button>
            </div>
            
        </form>
    </div>
</div>
