<div class="wrapper">
    <div class="title">
        <h2>Pinci's angular forum project</h2>
        <div>
            <p>This is my attempt at developing an Angular aplication</p>
            <p>There is a public and a private part</p>
        </div>
    </div>
    <div class="dynamic-list">
        <h4>Dynamic pages are</h4>
        <ul>
            <li><a routerLink="/themes">themes list</a></li>
            <li><a routerLink="/themes/5fa64a9f2183ce1728ff371a">themes details</a></li>
            <li><a routerLink="/auth/profile">profile (it fetches data for user's post count and theme count)</a></li>
            <li><a routerLink="/user-themes">user's themes</a></li>
            <li><a routerLink="/user-posts">user's posts</a></li>
        </ul>
    </div>
</div>
