<form [formGroup]="editForm" (ngSubmit)="editComment(postToEdit)">
    <label for="postText">Edit Comment</label>
    <textarea name="postText" [formControl]="postText" id="postText" cols="60" rows="10" [ngClass]=" editForm.touched? editForm.invalid ? 'border-red': '' : ''"></textarea>
    <div class="buttons">
        <div *ngIf="editForm.touched">
            <p class="error" *ngIf="formText?.errors?.['required']">Post must not be empty</p>
        </div>
        <div class="btns">
            <button (click)="onCancel($event)">Cancel</button>
            <button [disabled]="editForm.invalid">Edit comment</button>
        </div>
    </div>
</form>